<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="SandboxiePath" value="C:\Program Files\Sandboxie\Start.exe"></add>
    <add key="OutputPath" value="C:\Users\Patryk\Documents\Visual Studio 2013\Projects\Sandbox\build\sandbox\env_output.txt"/>
    <add key="InputPath" value="C:\Users\Patryk\Documents\Visual Studio 2013\Projects\Sandbox\build\sandbox\env_input.txt"/>
    <add key="EnvironmentPath" value="C:\Users\Patryk\Documents\Visual Studio 2013\Projects\Sandbox\build\sandbox\Sandbox.Environment.exe"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
